@import "../../theme/myHover.scss";

.text{
  margin-top: 65px;
  margin-bottom: 110px;
  line-height: 2.0em;
  color: grey;
  font-family:  "Avenir Next","Lantinghei SC",  Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  a{
    &:hover{
      color:black;
    }
    &:visited{
      color:black;
    }
    &:active{
      color:darkslategrey;
    }
  }
}


.container{
  display: flex;
  padding : 0 20px;
  flex-direction: row;
  justify-content: center;
  margin-top: 130px;
  text-align: left;
}

.cnText{
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 2.1em;
  color: #484848;
}