@import "../../theme/variables.scss";
@import "../../theme/utils.scss";
@import "../../theme/media";
.home {
  .container {
    padding : 70px 100px 40px 100px;
    width: 100%;
    background: #fff;
    //padding:40px 20px;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .description {
      z-index: 1;
      width:40%;
      flex-grow: 1;
      min-width: 213px;
      text-align: left;
      margin-top: 0px;
      .introduction{
        font-size: 20px;
        padding-left: 20px;
        margin-top: 0px;
      }
      .humility {
        color: $humility;
        a {
          color: $humility;
        }
      }
      .github {
        font-size: 1.5em;
      }
    }
    .foto{
      z-index: 0;
      width:60%;
      flex-grow: 2;
      margin-left: -30px;
      img{
        min-width: 320px;
        width: 100%;
        height:auto;
      }
    }
  }
}

@include max-screen(732px) {

}

@include max-screen(509px){
  .home{
    .container{
      padding: 80px 50px 50px 50px;
      .foto{
        padding-left: -50px;
      }
    }
  }
}