@import "../../theme/variables.scss";
@import "../../theme/utils.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
  .container {
    background: #fff;
    //padding:40px 20px;
    color: black;
    .description {
      width:20%;
      flex-grow: 1;
      padding: 10px 30px 80px 30px;
      .humility {
        color: $humility;
        a {
          color: $humility;
        }
      }
      .github {
        font-size: 1.5em;
      }
    }
    .foto{
      width:70%;
      flex-grow: 2;
      img{
        width: 100%;
        height:auto;
      }
    }
  }
}

