@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}

.content {
  background: #fff;
  padding:40px 20px;
  color: black;
  text-align: center;
  .main {

  }
}

.fill {
  min-height: 100%;
  height: 100%;
}

.red{
  color: red;
}
//.masthead {
//  background: #eee;
//  padding: 40px 20px;
//  color: black;
//  text-align: center;
//  .logo {
//    $size: 200px;
//    margin: auto;
//    height: $size;
//    width: $size;
//    border-radius: $size / 2;
//    border: 1px solid $cyan;
//    box-shadow: inset 0 0 10px $cyan;
//    vertical-align: middle;
//    p {
//      line-height: $size;
//      margin: 0px;
//    }
//    img {
//      width: 75%;
//      margin: auto;
//    }
//  }
//  h1 {
//    color: $cyan;
//    font-size: 4em;
//  }
//  h2 {
//    color: #ddd;
//    font-size: 2em;
//    margin: 20px;
//  }
//  a {
//    color: #ddd;
//  }
//  p {
//    margin: 10px;
//  }
//  .humility {
//    color: $humility;
//    a {
//      color: $humility;
//    }
//  }
//  .github {
//    font-size: 1.5em;
//  }
//}

