@import "./color.scss";
@import './media.scss';

.centerBox {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  //horizontal center
  justify-content: center;
  width: 100%;
  //vertical center
  align-items: center;
}

//used in template
.arrowContainer{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 8px;
  cursor:pointer;
  color: $transparent;
  &:hover {
    color : $darkWhite;
    background-color: $faintBlack;
  }
  .arrowIcon{

  }
}

//used in submit
.arrowContainer1{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 8px;
  cursor:pointer;
  color: $minBlack;
  &:hover {
    color : $darkWhite;
    background-color: $faintBlack;
  }
  .arrowIcon{

  }
}

.slider{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  //justify-content: center;
  .imageContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    //max-height:400px;
    img{
      cursor:pointer;
      max-height:700px;
      max-width:100%;
    }
  }
}

//@include max-screen(450px){
//  .arrowContainer{
//    padding: 0;
//  }
//  .arrowContainer1{
//    padding: 0;
//  }
//}

.noMargin {
  margin: 0;
}

:global(html){
}

:global(body){
}
