@import "./color.scss";

.centerBox {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  //horizontal center
  justify-content: center;
  width: 100%;
  //vertical center
  align-items: center;
}

.arrowContainer{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 8px;
  cursor:pointer;
  color: $transparent;
  &:hover {
    color : $darkWhite;
    background-color: $lightWhite;
  }
  .arrowIcon{

  }
}



.noMargin {
  margin: 0;
}

:global(html){
}

:global(body){
}
