@import '../../theme/color.scss';
@import '../../theme/media';

.chat {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .title{
    margin-top: 30px;
  }
  .loginForm{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    .inputGroup{
      width : 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      .input{
        width:40%;
        flex:2 0 200px;
      }
      .buttonGroup{
        width : 30%;
        flex: 1 0 200px;
        display:flex;
        justify-content: space-around;
      }
    }
  }
  form {
    margin: 30px 0;
  }
  .ownName{
    color : $green700;
  }
  .ownText{
    color : $green700;
  }
}

@include max-screen(840px){
  .chat{
    padding-top: 90px;
    .loginForm {
      .inputGroup {
        .buttonGroup {
          width: 50%;
        }
      }
    }
  }
}

@include max-screen(529px){
  .buttonGroup{
    margin-top: 30px;
  }
}