@import "../../theme/variables.scss";
@import "../../theme/utils.scss";
@import "../../theme/color.scss";
@import "../../theme/media.scss";

.dropDown{

}

.listNav{
  position : fixed;
  z-index: 5;
  padding-top: 5px;
  top: 60px;
  width: 100%;
  margin-left: 20px;
  background-color: white;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .select{
    width:400px;
  }
}

.gridContainer{
  margin: 90px 50px 50px 10px;
  padding-left: 40px;
  padding-top: -5px;
  padding-bottom: 100px;
}

.loading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width :100%;
  margin : 0 auto;
  font-size: large;
  text-align: center;
  background-color: $grey50;
  padding-top: 50px;
  .loadingText{
    padding : 0 20px;
    color: $darkBlack
  }
}

.regionNoSource{
  padding-top: 20px;
  margin-left: 30px;
  margin-bottom: 435px;
  font-size: 20px;
}

@include max-screen(820px){
  .listNav{
    position: static;
  }
}

@include max-screen(768px){
  .listNav{
    //when user login
    margin-top: 120px;
    //when user not login there are 30px blank here, it should be 90px, so we set that in Home.scss
  }
}