@import "../../theme/variables.scss";
@import "../../theme/utils.scss";
@import "../../theme/color.scss";
@import "../../theme/media.scss";

.entities {
  .dropDown {

  }
  .listNav {
    position: fixed;
    width:100%;
    z-index: 5;
    margin-top: -20px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .listNavBeforeLogin{
    position: fixed;
    width:100%;
    z-index: 5;
    margin-top: -20px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .select {
    width: 60%;
    min-width: 200px;
    max-width: 400px;
    margin: 0 30px 0 30px;
  }
  .refreshButton {

  }

  .gridContainer {
    width: 100%;
    padding-top: 80px;
  }

  .loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    font-size: large;
    text-align: center;
    background-color: $grey50;
    padding-top: 100px;
    .loadingText {
      padding: 0 20px;
      color: $darkBlack
    }
  }

  .regionNoSource {
    padding-top: 20px;
    margin-left: 30px;
    margin-bottom: 435px;
    font-size: 20px;
  }

  .upArrowContainer{
    display: none;
    border:1px solid black;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 50px;
    .upArrow{
      color: #00acc1;
    }
  }
}

@include max-screen(820px){
  .loading{
    padding-top: 50px;
  }
  .listNav{
    margin-top: 20px;
  }
  .listNavBeforeLogin{

  }
}

@include max-screen(768px){
  .entities {
    margin-top: 80px;
    .listNav {
      position: static;
      padding-top: 60px;
    }
    .listNavBeforeLogin{
      position : static;
      margin-top: -80px;
    }
    .gridContainer{
      margin-top: -20px;
      padding-top: 0;
    }
  }
}

@include max-screen(600px){
  .entities{
    .gridContainer{
      margin-top: 20px;
    }
    .upArrowContainer{
      display: block;
    }
  }
}

@include max-screen(474px){
  .entities{
    .listNavBeforeLogin{
      margin-top: 0;
    }
  }
}

@include max-screen(449px){
  .entities {
    .select {
      margin: 0 30px 0px 30px;
    }
    .gridContainer{
      margin-top: -30px;
    }
  }
}