@import '../../theme/media';

.loginPage {
  .container {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    input {
      width:100%;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    form {
      margin: 30px 0;
      :global(.btn) {
        margin-left: 10px;
      }
    }

    .loginForm {
      width: 40%;
      min-width: 256px;
      max-width: 500px;
      padding-left: 130px;
      padding-top: 65px;
      .loginTitle{
        padding-bottom: 0px;
      }
      .raisedButton{
        display: flex;
        justify-content: flex-start;
        margin-left: -25px;
      }
    }

    .loginPic {
      width: 60%;
      min-width: 384px;
      margin-top: 30px;
      img{
        max-width:100%;
      }
    }
  }
}

@include max-screen(768px){
  .loginPage {
    .loginTitle {
      margin: 0 auto;
      padding: 40px 0 0 0;
    }
    .container {
      .loginPic {
        display: none;
      }
      .loginForm {
        padding: 0 40px;
        width: 60%;
      }
    }
  }
}

@include max-screen(600px){
  .loginPage{
    .container{
      .loginForm{
        padding : 0 20px;
        width:80%;
      }
    }
  }
}