.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }

  .loginForm{
    width: 300px;
    margin : 30px;
  }

  .error{
    width: 400px;
    font-size: medium;
    margin : 30px;
    border-radius: 3px;
  }
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 130px;
}

.loginPic{
  width:90%;
  margin-left: 30px;
  margin-top: -40px;
}

.register{
  margin-left:130px;
  padding-top: 50px;
}

.raisedButton{
  display: flex;
  justify-content: flex-start;
  margin-left: -25px;
}