.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }

  .loginForm{
    width: 300px;
    margin : 30px;
  }

  .error{
    width: 400px;
    font-size: medium;
    margin : 30px;
    border-radius: 3px;
  }
}
