@import "../../theme/utils.scss";
@import "../../theme/myHover.scss";
@import "../../theme/color.scss";
@import "../../theme/utils.scss";
@import '../../theme/media.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  .list{
    max-width: 100%;
    overflow: visible;
    align-self: flex-start;
    width:30%;
    flex : 1 0 350px;
    margin:30px 0px 0 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .innerList{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      width : 90%;
      min-width: 315px;
      max-width: 500px;
      .rowContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .radioContainer{
          width: 315px;
        }
      }
      .rowContainerCity{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 10px;
      }
      .rowContainerDate{
        width:100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 2px;
      }
      .buttonGroup{
      }
    }
  }
  .card{
    max-width: 100%;
    width:45%;
    flex : 1 0 450px;
    height:70%;
    align-self: flex-start;
    position:relative;
    margin:30px 20px 0 80px;
    .buttonContainer{
      position:absolute;
      right : 40px;
      top : 40px;
      //cursor: pointer;
      z-index: 5;
      //background-color: $lightBlack;
      //color: $grey50;
      //&:hover{
      //background-color: $darkBlack ;
      //}
    }

    .inner{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      width: 100%;
      height:100%;
      //vertical center
      .innerText{
        flex : 1 0 100px;
      }
      .innerFont{
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        align-items: center;
        flex : 1 0 60px;
      }
    }

    .textArea{

    }
  }
}


.inner{
  display: flex;
  flex-direction: row;
  //horizontal center
  justify-content: center;
  width: 100%;
  height:100%;
  //vertical center
  align-items: center;
}

.editButton{


}



.dialog{

}
.toggle{
  right:30%;
}
.arrow{
  width:20px;
  height:20px;
}

.datePicker{
  display: inline;
}

.withOutError{
  padding-top :40px;
  padding-right: 10px;
}

.withError{
  align-self: center;
  padding-right: 10px;
}

.rowTitle{
  align-self: center;
  padding-right: 10px;
}

.select{
  width: 250px;
}

.warmCold{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -24px;
}

.city{
  padding-right: 10px;
}

.submit{
  margin-top: 35px;
  margin-bottom: 260px;
  margin-left: 70px;
}

//card min-width 450 + list min-width 350 + margin container 100 + margin 0 = 900
//card min-width 390 + list min-width 350 + margin container 160 + margin 0 = 900
@include max-screen(900px){
  .container{
    .card {
      //margin-right: 80px;
      //min-with
      margin : 30px 80px 0 80px;
      flex: 1 0 390px;
    }
    .list{
      //max-width: 300px;
      //margin:20px;
    }
  }
}

@include max-screen(840px){
  .container{
    .card{
      .cardTitle{
        margin-top: -50px;
      }
    }
    margin-top: 120px;
  }
}

//card min-width 390  + margin container 160 + margin 0 = 550
//card min-width 490  + margin container 60 + margin 0 = 550
@include max-screen(600px){
  .container{
    .card {
      margin : 30px 30px 0 30px;
      flex: 1 0 200px;
    }
    .list{
      //max-width: 300px;
      //margin:20px;
    }
  }
}

//slider fixed margin 50 * 2 = 100, so min width is 200 + 100 + 20 = 320
@include max-screen(400px){
  .container {
    .card {
      margin: 30px 10px 0 10px;
      flex: 1 0 200px;
    }
  }
}

//@include max-screen(849px){
//  .container{
//    .card{
//      min-width: 300px;
//    }
//    .list{
//      //width: 200px;
//    }
//  }
//}
//@include max-screen(414px)
//{
//  .container{
//    .card{
//      .cardTitle{
//          margin-top: -50px;
//      }
//    }
//  }
//}
//
//@include max-screen(375px){
//  .card{
//    padding: 0px 20px;
//  }
//  .list{
//    padding:0px 40px 0 40px;
//  }
//}

