@import "../../theme/myHover.scss";
@import "../../theme/color.scss";

.app {
  .navbar{
    $size:60px;
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    //border-bottom:2px solid $grey400;
    box-shadow:0 0 8px grey;
    .left{
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height:$size;
      div{
        padding: 0 5px;
        font-size: large;
        height:$size;
        text-align: center;
        cursor:pointer;
        line-height: $size;
         .register{
           font-size: 30px;

         }
      }
      .logo{
        img{
          height:45px;
          font-weight: bold;
          padding-left: 10px;
        }
      }
      .title{
        display: flex;
        flex-direction: column;
        height: $size;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 5px;
        .headerSchrift{
          height: 35px;
          line-height: 35px;
          font-size: 25px;
        }
        .nebenSchrift{
          color: black;
          line-height: 16px;
          height:16px;
          font-size: 14px;
        }
      }
    }
    .right{
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height:$size;
      line-height: $size;
      margin: 0 10px;
      font-size: medium;
      text-align: right;
      .links{
        font-size: 14px;
        margin : 0 5px;
      }
      .username{
        color: cadetblue;
      }
    }
    .noUserRight{
      padding-right : 20px;
    }
  }
  .brand {
    position: absolute;
    $size: 20px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.appContent {
    margin: 50px 0; // for fixed navbar
}

.bottomText{
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
  font-size: 11px;
}

.aboutUs{
  padding-right: 40px;

}