@import "../../theme/myHover.scss";

.app {
  .navbar{
    $size:60px;
    background-color: #fff;
    height: $size;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    .left{
      float: left;
      li{
        display: inline;
        padding: 0 10px;
      }
      .logo{
        .headerschrift {
          z-index: 10;
          margin-left: 40px;
          /*border:1px solid;*/
          font-size: 36px;
          font-weight: bold;
        }
        .nebenschrift {
          z-index: 10;
          font-size: 18px;
          top: 33px;
          left: 20px;
        }
      }
    }
    .right{
      float: right;
      margin-right: 30px;
      margin-top : 30px;
      text-align: right;
      .links{
        z-index: 8;
        margin:  5px;
        font-size: 12px;
      }
    }
  }
  .brand {
    position: absolute;
    $size: 20px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

.right {
  li {
    display: inline;
  }
}

.appContent {
    margin: 50px 0; // for fixed navbar
}
