@import "../../theme/utils.scss";
@import "../../theme/myHover.scss";

.card{
  width:50%;
  height:70%;
  min-width:300px;
  flex-grow: 1;
  margin-left: 50px;
}

.list{
  align-self: flex-start;
  padding:50px;
  width:20%;
  min-width:300px;
  flex-grow: 2;
  margin-top: 70px;
  margin-right: -30px;
  margin-left: 20px;
  .note{
    margin:0 30px;
    color:grey;
  }
}

.editButton{
  padding:0;
}



.dialog{

}

.arrow{
  width:20px;
  height:20px;
}

.datePicker{
  display: inline;
}

.container{
  margin-left: 30px;
  padding-top: 20px;

}

.slider{
  margin-top: -30px ;
}
