@import "../../theme/utils.scss";
@import "../../theme/myHover.scss";
@import "../../theme/color.scss";
@import "../../theme/utils.scss";
@import '../../theme/media.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  .list{
    overflow: visible;
    align-self: flex-start;
    width:30%;
    min-width:350px;
    flex-grow: 1;
    margin:30px 0px 0 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .innerList{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      width : 90%;
      min-width: 315px;
      max-width: 500px;
      .rowContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .radioContainer{
          width: 315px;
          padding-left: 20px;
        }
      }
      .rowContainerCity{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
      }
      .rowContainerDate{
        width:100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 2px;
      }
      .buttonGroup{
      }
    }
  }
  .card{
    width:45%;
    height:70%;
    min-width:450px;
    flex-grow: 1;
    align-self: flex-start;
    position:relative;
    margin:30px 20px 0 80px;
    .buttonContainer{
      position:absolute;
      right : 40px;
      top : 40px;
      //cursor: pointer;
      z-index: 5;
      //background-color: $lightBlack;
      //color: $grey50;
      //&:hover{
      //background-color: $darkBlack ;
      //}
    }

    .dropBox{
      display: flex;
      flex-direction: row;
      //horizontal center
      justify-content: center;
      width: 100%;
      height:100%;
      //vertical center
      align-items: center;
      .inner{
        display: flex;
        flex-direction: row;
        //horizontal center
        justify-content: center;
        width: 100%;
        height:100%;
        //vertical center
        align-items: center;
        .innerText{
          flex : 1 0 100px;
        }
        .innerFont{
          flex : 1 0 60px;
        }
      }
    }
    .textArea{

    }
  }
}


.inner{
  display: flex;
  flex-direction: row;
  //horizontal center
  justify-content: center;
  width: 100%;
  height:100%;
  //vertical center
  align-items: center;
}

.editButton{


}



.dialog{

}
.toggle{
  right:30%;
}
.arrow{
  width:20px;
  height:20px;
}

.datePicker{
  display: inline;
}

.withOutError{
  padding-top :40px;
  padding-right: 10px;
}

.withError{
  align-self: center;
  padding-right: 10px;
}

.select{
  width: 250px;
}

.warmCold{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -24px;
}

.city{
  padding-right: 10px;
}

.submit{
  margin-top: 35px;
  margin-bottom: 260px;
  margin-left: 70px;
}

//card min-width 500 + list min-width 350 + margin container 40 + margin 40 = 830
@include max-screen(900px){
  .container{
    .card {
      margin-right: 80px;
    }
    .list{
      //max-width: 300px;
      //margin:20px;
    }
  }
}

@include max-screen(768px){
  .container{
    margin-top: 120px;
  }
}

@include max-screen(849px){
  .container{
    .card{
      min-width: 300px;
    }
    .list{
      width: 200px;
    }
  }
}
@include max-screen(414px)
{
  .container{
    .card{
      .cardTitle{
          margin-top: -50px;
      }
    }
  }
}

@include max-screen(375px){
  .card{
    padding: 0px 20px;
  }
  .list{
    padding:0px 40px 0 40px;
  }
}

