@import "../../theme/utils.scss";
@import "../../theme/myHover.scss";

.card{
  width:60%;
  min-width:300px;
  flex-grow: 1;
  .slideBox{
    position:relative;
    width:100%;
    height: auto;
    img{
      width:100%;
      height:auto;
      z-index: 2;
    }
    .clearButton{
      position: absolute;
      right : 30px;
      top : 30px;
      z-index: 3;
    }
  }
  .dropBox{
    display: flex;
    flex-direction: row;
    //horizontal center
    justify-content: center;
    width: 100%;
    height:100%;
    //vertical center
    align-items: center;
    .boxFont{
      vertical-align: center;
    }
    .inner{
      display: flex;
      flex-direction: row;
      //horizontal center
      justify-content: center;
      width: 100%;
      height:100%;
      //vertical center
      align-items: center;
    }
  }
  .textArea{

  }
}

.list{
  align-self: flex-start;
  padding:50px;
  width:40%;
  min-width:300px;
  flex-grow: 2;
  .note{
    margin:0 30px;
    color:grey;
  }
}

.editButton{
  padding:20px;
}



.dialog{

}
.toggle{
  right:30%;
}
.arrow{
  width:20px;
  height:20px;
}

.datePicker{
  display: inline;
}

